<div class="container mt-5 col-md-9">
    <div class="tittle">
        <h1>{{publication.titulo}}</h1>
    </div>
    <div class="mt-2">

        <div class="publication">

            <div class="content">
                <div class="avatar">
                    <h2>PM</h2>
                </div>
                <div class="row w-100">
                    <div class="col-10 avatar-name">
                        <h4>{{publication.nombre}} {{publication.apellido}}</h4>
                    </div>
                    <div class="col-2 mt-1">
                        <p>{{Activity(publication.fecha)}}</p>
                    </div>
                    <div class="col-12 ms-4">
                        {{publication.descripcion}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mt-5 d-flex col-md-5 justify-content-center">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">


                        <div class="carousel-indicators">
                            <div *ngIf="imagesCount === 0 ">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true"></button>
                            </div>
                            <div *ngIf="imagesCount != 0 ">
                                <button *ngFor="let image of publication.multimedia index as i; first as isFisrt" type="button"
                                    data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i" class="active"
                                    ngClass="" aria-current="true" [ngClass]="{'active' : isFisrt }"></button>
                            </div>
                        </div>


                        <div class="carousel-inner">
                            <div *ngIf="imagesCount === 0" class="carousel-item active">
                                <div class="no-media">
                                    <p>No contiene imagenes</p>
                                </div>
                            </div>
                            <div *ngIf="imagesCount != 0">
                                <div *ngFor="let image of publication.multimedia; index as i; first as isFirst"
                                    class="carousel-item active" [ngClass]="{'active': isFirst}">
                                    <img [src]="image" class="image-proyect">
                                </div>
                            </div>
                        </div>


                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-7 d-flex  mt-4 flex-column">
                    <div class="element justify-content-end">
                        <fa-icon style="font-size:2rem;" [icon]="faComment"></fa-icon>
                        <h5>{{commentsCount}}</h5>
                    </div>
                    <div class="element justify-content-center mt-3">
                        <h4>¡Descarga el proyecto para probarlo tu mismo!</h4>
                    </div>
                    <div class="element mt-5 justify-content-center">
                        PROYECTO
                    </div>
                </div>
            </div>
        </div>
        

        <div class="publication" *ngFor="let comentario of publication.comentarios">
            <div class="content">
                <div class="avatar">
                    <h2>800</h2>
                </div>
                <div class="row w-100">
                    <div class="col-11 avatar-name">
                        <h4>{{comentario.nombre}} {{comentario.apellido}}</h4>
                    </div>
                    <div class="col-1 mt-1">
                        <p>{{Activity(comentario.fecha)}}</p>
                    </div>
                    <div class="col-12 ms-4">
                        {{comentario.comentario}}
                    </div>
                </div>
            </div>
        </div>

        


    </div>
</div>