
<div class="container d-flex justify-content-center mt-5 mb-5 pb-5">
    <div class="card mb-3" style="max-width: 50rem;">
        <div class="row g-0">
            <div class="col-md-4 justify-content-center d-flex">
                <img src="assets/register.jpg" class="img-fluid" alt="..." >
            </div>
            <div class="col-md-8">
                <div class="card-body ">
                    <div class="container d-flex flex-column align-items-center">
                        <h5 class="card-title">Crear una cuenta</h5>
                        <p class="card-text">¡ Crea una cuenta para poder interactuar con la comunidad !</p>
                    </div>
                    <div class="container mt-5 col-md-9">
                        <form  [formGroup]="formRegister" (ngSubmit)="Register()">
                            <div class="input-group mb-3">
                                <fa-icon style="font-size:2rem; margin-right: 1rem;" [icon]="faUser"></fa-icon>
                                <input class="form-control" placeholder="Nombre"  type="text" formControlName="name">
                                
                                <input class="form-control" placeholder="Apellido"  type="text" formControlName="lastName">
                            </div>
                            <div class="input-group mb-3">
                                <fa-icon style="font-size:2rem; margin-right: 1rem;" [icon]="faEnvelope"></fa-icon>
                                <input class="form-control" placeholder="Correo"  type="email" formControlName="email">
                            </div>
                            <div class="input-group mb-4">
                                <fa-icon style="font-size:2rem; margin-right: 1rem;" [icon]="faLock"></fa-icon>
                                <input class="form-control" placeholder="Contraseña"  type="password" formControlName="password">
                            </div>
                            <div *ngIf="!isFormValid" class="alert alert-danger">
                                Favor de llenar los campos correctamente
                            </div>
                            <div class="d-grid gap-2 ">
                                <button class="btn btn-dark btn-lg" type="submit">Registrarse</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="false" [ngClass]="{'show d-block' : isOpenDialogBox}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Echo Robot</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeDialogBox()"></button>
            </div>
            <div class="modal-body">
                {{dialogMessage}}
            </div>
            <div class="modal-footer">
                <button (click)="closeDialogBox()" type="button" class="btn btn-primary">Entendido</button>
            </div>
        </div>
    </div>
</div>