
.avatar {
    
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    

}
.centerElements{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
