
<div class="mt-5 mb-5"></div>
<section class="pt-4 pt-md-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-l2 col-md-12 col-lg-12">
                <h1 class="tittle text-center">EchoRobot </h1>
            </div>
            <div class="col-12 mt-5">
                <p class="text-center">Echo Robot es un simulador que nos permite aprender acerca de la robótica de una forma sencilla.</p>
            </div>
        </div>
    </div>
</section>

<section class="pt-4 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-4 pb-5">
                <div class="card">
                    <div class="card-body" style="height: 150px;">
                      <h5 class="card-title">Crea tus propios robots</h5>
                      <p class="card-text">Dessarrolla en un entorno virual tus creaciones</p>
                    </div>
                    <div style="height: 200px;">
                        <img src="assets/logging.jpg" class="card-img-bottom h-100" alt="...">
                    </div>
                  </div>
            </div>
            <div class="col-4 pb-5">
                <div class="card">
                    <div class="card-body" style="height: 150px;">
                      <h5 class="card-title">Programa funcionalidad a tus robots</h5>
                      <p class="card-text">
                        Usa un programador a bloques que te permita dar 
                        funcionalidad a tus robots
                      </p>
                    </div>
                    <div style="height: 200px;">
                        <img src="assets/bloques.png" class="h-100 card-img-bottom" alt="...">
                    </div>
                  </div>
            </div>
            <div class="col-4 pb-5">
                <div class="card">
                    <div class="card-body" style="height: 150px;">
                      <h5 class="card-title">Crear un entorno de pruebas</h5>
                      <p class="card-text">
                        Crea un escenario done puedas poner a prueba tus robot con
                        distitos obstaculos.
                      </p>
                    </div>
                    <div style="height: 200px;">
                        <img src="assets/pista.jpg" class="h-100 card-img-bottom" alt="...">
                    </div>
                  </div>
            </div>
            <div class="col-4 pb-5">
                <div class="card">
                    <div class="card-body" style="height: 150px;">
                      <h5 class="card-title">Comparte con la comunidad</h5>
                      <p class="card-text">
                        Comparte con todos tus proyectos y comparte tus ideas con otros usuarios
                      </p>
                    </div>
                    <div style="height: 200px;">
                        <img src="assets/comunidad.jpg" class="h-100 card-img-bottom" alt="...">
                    </div>
                  </div>
            </div>
            <div class="col-4 pb-5">
                <div class="card">
                    <div class="card-body" style="height: 150px;">
                      <h5 class="card-title">Prueba las creaciones de otros usuarios</h5>
                      <p class="card-text">
                        Descarga los proyectos de otros usuario y pruebalos tú mismo
                      </p>
                    </div>
                    <div style="height: 200px;">
                        <img src="assets/prueba.jpg" class="h-100 card-img-bottom" alt="...">
                    </div>
                  </div>
            </div>
            <div class="col-4 pb-5">
                <div class="card">
                    <div class="card-body" style="height: 150px;">
                      <h5 class="card-title">Personaliza tu simulador</h5>
                      <p class="card-text">
                        Agrega nuevos elementos al simulador, crea nuevos elementos y compartelos con
                        los demas
                      </p>
                    </div>
                    <div style="height: 200px;">
                        <img src="assets/modular.webp" class="h-100 card-img-bottom" alt="...">
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>