
<div class="container mt-5 col-md-7">
    <h2>Categorias</h2>

    <section class="mt-4">

        <ul class="nav nav-underline nav-line position-relative">
            <li class="nav-item nav-pill">
                <a class="text nav-link nav-effects " routerLinkActive="router-link-active"  aria-current="page">Top</a>
            </li>
            <li class="nav-item ">
                <a class="text nav-link"  aria-current="page">Más recientes</a>
            </li>
            <li class="nav-item">
                <a class="text nav-link me-5"  aria-current="page">Mis publicaciones</a>
            </li>
            <li class="nav-item ">
                <button class="btn btn-dark position-absolute top-0 end-0 ">Crear publicación</button>
            </li>  
      
        </ul>

    </section>
</div>
