
<div class="container mt-5 col-md-7">
    <h2>Categorias</h2>

    <section class="mt-4">

        <ul class="nav nav-underline nav-line position-relative">
            <li class="nav-item nav-pill">
                <a class="text nav-link nav-effects " routerLinkActive="router-link-active"  aria-current="page">Top</a>
            </li>
            <li class="nav-item ">
                <a class="text nav-link"  aria-current="page">Más recientes</a>
            </li>
            <li class="nav-item">
                <a class="text nav-link me-5"  aria-current="page">Mis publicaciones</a>
            </li>
            <li class="nav-item ">
                <a class="btn btn-dark position-absolute top-0 end-0" routerLink="/comunity/AddPublication">Crear publicación</a>
            </li>  
      
        </ul>
    </section>
    <section class="mt-3">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tema</th>
                    <th scope="col">Autor</th>
                    <th scope="col"># Comentarios</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let publication of listPublication; index as i" 
                (click)="getPublication(publication.idPublicacion)" class="table-seleccionada">
                    <th class="pb-3">{{i + 1 }}</th>
                    <th>{{publication.titulo}}</th>
                    <th>{{publication.nombreAutor}}</th>
                    <th>{{publication.numComentarios}}</th>
                    <th>{{Activity(publication.fechaPublicacion)}}</th>
                </tr>
            </tbody>
        </table>
    </section>
</div>
