.text{
    color: black;
    font-size: 1rem;
    text-decoration: none;
    
}

.nav-line{
    border-bottom: 1px solid rgba(100, 97, 97, 0.944);
}

.text:hover{
    font-weight: bold;
}
.table-seleccionada{
    cursor: pointer;
}

.img{
    background-color: black;
    height: auto;
    max-width: 200px;
}
.justify-text{
    text-align: justify;
}
.card-body-publication{
    min-height: 150px;
    max-height: 150px;
    
    overflow: hidden;
    padding: 1rem 1rem 0 1rem; 
    
}

.div-card-body{
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
